/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ---------- MENU COMMUN ---------- */
/* menu horizontal*/

nav
{
  width: 100%;
  position: relative;
}

/* centrer le menu horizontal */
nav ul
{
   text-align: center;
}

nav li
{
  display: inline-block;
  list-style-type: none;
  padding-left: 0%;
  padding-right: 0%;
  margin-right: 3%;
}

/* mise en forme des liens dans le menu */
nav a
{
  text-decoration: none;
  color: black;
  text-shadow: 3px 4px 6px #9E99A1;
}

/* style du texte au passage de la souris */
nav a:hover
{
  color: black;
  cursor: pointer;
}

/* ------------- PAGE 1 / ACCUEIL ---------- */
/* Modification du menu pour la page accueil */
.accueil
{
  width: 100%;
  position: absolute;
}

/* Image de fond : femme dos tatouée */
.ecran img
{
  align-content: url(../img/photo_de_fond.png) no-repeat;
  background-size: cover;
  height: 100vh;
}
 /* Le tatoueur enchanté */
h1
{
  margin-left: 4%;
  font-size: 300%;
  margin-bottom: 2%;
  color: #FFD116;
}

/* Image de transition : plume */
img.plume
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 11%;
  width: 7%;
  margin-top: 1%;
}

/* Lorem pour test */
p
{
  text-align: center;
  margin-left: 4%;
  margin-right: 4%;
}
/* --------------- FIN PAGE 1 / ACCUEIL ---------- */
/* ---------------- PAGE 2 / CATALOGUE ------------*/

/* Mise en page des images de la galerie */
.galerie
{
  margin-top: 1%;
  width: 100%;
}
.galerie img
{
  margin-left: 0%;
  margin-top: 6%;
}

/* ---------------- FIN PAGE 2 / CATALOGUE ------------*/
/* --------------- PAGE 3 / BLOG -------------- */

/* Titres des paragraphes du blog */
h4
{
  color: #FFD116;
  text-align: center;
}

/* Sous titre*/
h3
{
  margin-left: 4%;
}

/* Etoiles de notation */
.stars i
{
  color: #FFD116;
  padding: 3px;
}





/* --------------- FIN PAGE 3 / BLOG -------------- */
/* --------------- PAGE 4 / CONTACT -------------- */

/* Formulaire de contact */
.pagecontact
{
  margin-top: 12%;
  position: absolute;
}
input, textarea
{
  display: block;
  margin-left: 20%;
  font-size: 15px;
  margin-top: 1%;
  margin-bottom: 4%;
  text-align: left;
}

/* Google map */
iframe
{
  display: block;
  margin: auto;
  margin-top: 4%;
}

/* ----------------- FOOTER --------------*/

/*Espace et couleur du footer*/
footer
{
  bottom: 0;
  margin-top: 3%;
}
footer img
{
  width: 10%;
  height: 50%;
}

footer li
{
  display: inline;
  list-style-type: none;
  padding-left: 2%;
  padding-right: 2%;
}

footer ul
{
  margin-left: 15%;
}

footer hr
{
  border: 1px solid #FFD116;
  width: 40%;
  margin: auto;
}
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
